.search-input {
  position: relative;
  display: inline;
}

.search-input__search-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 12px 8px;
  background: url("../../images/icons/searchIcon.svg");
}

.search-input__input {
  width: 420px;
  height: 48px;
  margin-right: 8px;
  padding: 0 0 0 36px;
  background-color: #eeeeee;
  border: none;
  border-radius: 12px;
  font-size: 16px;
}

.search-input__clear-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 20px;
  margin-top: 12px;
  background: url("../../images/icons/clearInputIcon.svg");
}

.search-input__input:focus {
  cursor: pointer;
  outline: 0;
  background-color: #e6e6e6;
}

.search-input::placeholder {
  color: #9c9c9c;
}
