.search-form {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  text-align: left;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  padding: 40px 80px 16px 80px;
  z-index: 1;
}

.search-form_center {
  text-align: center;
  padding: 276px 0 0 0;
}

@media screen and (max-width: 690px) {
  .search-form {
    padding: 10px 16px 16px 16px;
  }
  .search-form_center {
    padding-top: 232px;
  }
}
